**/.DS_Store
**/Thumbs.db
**/apt.cache
**/state.txt
**/SASLLog.txt
**/wprefs.ini
**/*.???~
**/*.bak
**/An-24/_
**/An-24/an-24rv_settings.ini
**/An-24/an-24rv_lamps.ini
**/An-24/an-24rv_prefs.txt
**/An-24/clist.txt
**/An-24/KLNconfig.txt
**/An-24/skunkcrafts_updater_*.*
**/An-24/*.blend*
**/An-24/*.acf~
**/An-24/*.ac
