**/.DS_Store
**/Thumbs.db
**/apt.cache
**/state.txt
**/SASLLog.txt
**/wprefs.ini
**/*.???~
**/*.bak
**/An-24RV/an-24rv_settings.ini
**/An-24RV/an-24rv_lamps.ini
**/An-24RV/an-24rv_prefs.txt
**/An-24RV/KLNconfig.txt
**/An-24RV/*.acf~
**/An-24RV/*.ac
**/An-24RV/_
